<div class="bill-index-container">
  <%= link_to 'Meklēt Eksistējošo Rēķinu', search_bills_path, class: 'btn-bill-index' %>
  <%= link_to 'Pievienot Jaunu Rēķinu', new_bill_path, class: 'btn-bill-index' %>
</div>
